body 
{
  margin: 0; 
  padding: 0; 
  background: url(p5test.js);
  background-size: cover; 
  font-family: 'Helvectica', sans-serif; 
}
section
{
  position: relative; 
  width: 25%; 
  height: 100vh; 
  overflow: hidden; 
} 
section .scroll
{
  width: 100%
  display: flex; 
}
section .scroll div 
{
    color: #000: 
     font-size: 4em; 
    background: #eaf205; 
  white-space: nowrap; 
  font-weight: 900; 
  text-transform: uppercase; 
  animation: animate 40s linear infinite; 
  animation-delay: -40s;
}
section .scroll div:nth-child(2)
{
  animation: animate2 40s linear infinite;
  animation-delay: -20s; 
}

@keyframes animate
{
  0%
  {
  transform: translateX(100%);
  }
  100%
  {
  transform: translateX(-100%);
  }
}
@keyframes animate2
{
  0%
  {
  transform: translateX(0);
  }
  100%
  {
  transform: translateX(-200%);
  }
}
